@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Scheherazade+New:wght@400;500;600;700&display=swap");

:root {
  /* Colors */
  --white: hsl(0, 0%, 100%);
  /* Primary */
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  /* Neutral */
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);

  /* Typography */
  --font-family: "Karla", sans-serif;
  --font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
}

body {
  padding: 4rem 1.5rem;
  background-color: var(--light-gray);
  font-family: var(--font-family);
}

main {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  /* box-shadow: 0 0 100px var(--grayish-blue); */
  box-shadow: 0 0 30px #cccc;

  section {
    width: 100%;
    padding: 1.5rem 1.5rem;
  }
}

.s1 {
  background-color: var(--white);

  h1 {
    color: cyan;
    font-size: 1.4rem;
  }

  h2 {
    margin: 1rem 0;
    color: var(--bright-yellow);
    font-size: 1.1rem;
    font-weight: normal;
  }

  p {
    line-height: 1.5rem;
    color: var(--grayish-blue);
    font-size: 0.9rem;
  }
}

.s2 {
  color: var(--white);
  background-color: var(--cyan);

  h2 {
    font-size: 1.1rem;
    font-weight: normal;
  }

  h3 {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    font-size: 0.9rem;
    font-weight: normal;

    span {
      margin-right: 1rem;
      font-size: 2rem;
    }
  }

  p {
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }

  button {
    all: unset;
    width: calc(100% - 2rem);
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: var(--bright-yellow);
    box-shadow: 0 0 30px #6666;
    cursor: pointer;
    text-align: center;
  }
}

.s3 {
  opacity: 0.8;
  color: var(--white);
  background-color: var(--cyan);

  h2 {
    font-size: 1.1rem;
    font-weight: normal;
  }
  pre {
    line-height: 1.2rem;
    margin-top: 1rem;
    opacity: 0.7;
    color: var(--light-gray);
    font-family: var(--font-family);
    font-size: 0.9rem;
  }
}

@media (min-width: 768px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main {
    width: 45%;

    section {
      padding: 2rem;
    }
  }
  .s1 {
  }
  .s2 {
    width: 50%;
  }
  .s3 {
    width: 50%;
  }
}

/* 

## Colors

### Primary

- Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

### Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700

*/
