
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
/* font-family: "Lexend Deca", sans-serif; */ 

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');
/* font-family: "Big Shoulders Display", sans-serif; */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body {
   height: 100%;
   width: 100%;
   
   display: flex;
   align-items: center;
   justify-content: center; 
   
   background-color: hsl(0, 0%, 95%);
}

.container {
   width: 360px;
   display: flex;
   flex-flow: column;
   border-radius: 10px;
   overflow: hidden;
}

section {
   padding: 36px;
}

section h1 {
   text-transform: uppercase;
   margin: 36px 0;
   color: hsl(0, 0%, 95%);
   font-family: "Big Shoulders Display", sans-serif;
   font-weight: 700;
}

section p {
   font-size: 15px;
   margin-bottom: 36px;
   color: hsla(0, 0%, 100%, 0.75);
   margin-right: 60px;
   font-family: "Lexend Deca", sans-serif;
}

section a {
   padding: 15px 30px;
   background-color: hsl(0, 0%, 95%);
   border-radius: 50px;
   text-decoration: none;
   color: var(--color);
   border: 2px solid white;
   display: inline-block;
   font-family: "Lexend Deca", sans-serif;
}

section a:hover {
   background-color: var(--color);
   color: hsl(0, 0%, 95%);
}

.sedans {
   --color: hsl(31, 77%, 52%);
   background-color: var(--color);
}

.suvs {
   --color: hsl(184, 100%, 22%);
   background-color: var(--color);
}

.luxury {
   --color: hsl(179, 100%, 13%);
   background-color: var(--color);
}



@media (min-width: 800px) {
   .container {
      flex-flow: row;
      width: auto;
   }
   
   section p {
      margin-right: 0;
      width: 220px;
   }
}





/*

# Colors

### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Lexend Deca]
(https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display]
(https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700
