* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

@font-face {
   font-family: Young Serif;
   src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

@font-face {
   font-family: Outfit;
   src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

html,
body {
   width: 100%;
   min-height: 100vh;

   display: flex;
   align-items: center;
   justify-content: center;
}

h2 {
   color: hsl(14, 45%, 36%);
   font-family: "Young Serif";
   font-weight: 400;
}

h2~ol li::marker,
h2~ul li::marker {
   color: hsl(14, 45%, 36%);
   font-weight: bolder;
}

li,
p,
table td {
   font-size: 16px;
   font-family: "Outfit";
   letter-spacing: 0.19px;
   color: hsl(30, 10%, 34%);
}

li::marker {
   font-size: 12px;
}

.container {
   width: 375px;
   background-color: hsl(0, 0%, 100%);
}

.container img {
   width: 100%;
}

.container main {
   padding: 28px;
}

main h1 {
   font-family: "Young Serif";
   font-weight: 400;
   margin-bottom: 20px;
}

.preparation-time {
   background-color: hsl(330, 100%, 98%);
   font-family: "Outfit";
   padding: 20px;
   border-radius: 10px;
   margin: 20px 0;
}

.preparation-time h3 {
   color: hsl(332, 51%, 32%);
}

.preparation-time ul {
   padding: 12px 28px 0 20px;

   display: flex;
   justify-content: center;
   flex-flow: column;
}

.preparation-time li {
   padding: 5px 10px;
}

.preparation-time li::marker {
   color: hsl(332, 51%, 32%);
}

.ingredients {
   padding: 12px 0;
}

.ingredients ul,
.instructions ol {
   padding: 16px;
}

.ingredients li {
   padding: 5px 12px;
}

.instructions {
   margin: 28px 0;
}

.instructions ol {
   padding: 0 0 0 20px;
}

.instructions li {
   padding: 5px 12px;
}

.instructions li::marker {
   font-size: 16px;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
}

.nutrition {
   margin-top: 28px;
}

.nutrition p {
   margin: 12px 0;
}

.nutrition table td:nth-child(1) {
   padding: 0 0 0 28px;
}

.nutrition table td:nth-child(2) {
   color: hsl(14, 45%, 36%);
   font-weight: 700;
   font-family: "Outfit";
}

.nutrition table {
   width: 100%;
   border-collapse: collapse;
}

.nutrition table td {
   padding: 10px;
}

.nutrition table tr {
   border-bottom: 1px solid hsl(30, 10%, 34%);
}

.nutrition table tr:last-child {
   border: none;
}

@media(min-width: 800px) {
   html,
   body {
      background-color: #F3E5D8;
      height: 100%;
   }

   .container {
      width: 720px;
      padding: 28px;
      border-radius: 28px;
   }

   .container img {
      border-radius: 14px;
   }
   
   .instructions li::marker {
      font-size: 10px;
   }

   li,
   p,
   table td {
      font-size: 10px;
   }
}


/*



### Neutral
- Eggshell: hsl(30, 54%, 90%)
- Light Grey:  hsl(30, 18%, 87%);
- Wenge Brown: hsl(30, 10%, 34%)
- Dark Charcoal: hsl(24, 5%, 18%)



### Fonts

- Family: [Young Serif](https://fonts.google.com/specimen/Young+Serif)
- Weights: 400

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 600, 700


*/